---
title: "Viewport Grid Example Sample"
class: examples
layout: html.hbs
---
<div class="container">
  <article>
  <h2>Column Counts</h2>
  <p>Simple column count defines width relative to viewport. </p>
  </article>

  <section class="grid-example">
  <div class="column-24"><span>.column-24</span></div>

  <div class="column-1"><span>1</span></div>
  <div class="column-1"><span>1</span></div>
  <div class="column-1"><span>1</span></div>
  <div class="column-1"><span>1</span></div>
  <div class="column-1"><span>1</span></div>
  <div class="column-1"><span>1</span></div>
  <div class="column-1"><span>1</span></div>
  <div class="column-1"><span>1</span></div>
  <div class="column-1"><span>1</span></div>
  <div class="column-1"><span>1</span></div>
  <div class="column-1"><span>1</span></div>
  <div class="column-1"><span>1</span></div>
  <div class="column-1"><span>1</span></div>
  <div class="column-1"><span>1</span></div>
  <div class="column-1"><span>1</span></div>
  <div class="column-1"><span>1</span></div>
  <div class="column-1"><span>1</span></div>
  <div class="column-1"><span>1</span></div>
  <div class="column-1"><span>1</span></div>
  <div class="column-1"><span>1</span></div>
  <div class="column-1"><span>1</span></div>
  <div class="column-1"><span>1</span></div>
  <div class="column-1"><span>1</span></div>
  <div class="column-1"><span>1</span></div>

  <div class="column-1"><span>1</span></div>
  <div class="column-23"><span>.column-23</span></div>

  <div class="column-2"><span>2</span></div>
  <div class="column-22"><span>.column-22</span></div>

  <div class="column-3"><span>3</span></div>
  <div class="column-21"><span>.column-21</span></div>

  <div class="column-4"><span>4</span></div>
  <div class="column-20"><span>.column-20</span></div>

  <div class="column-5"><span>.column-5</span></div>
  <div class="column-19"><span>.column-19</span></div>

  <div class="column-6"><span>.column-6</span></div>
  <div class="column-18"><span>.column-18</span></div>

  <div class="column-7"><span>.column-7</span></div>
  <div class="column-17"><span>.column-17</span></div>

  <div class="column-8"><span>.column-8</span></div>
  <div class="column-16"><span>.column-16</span></div>

  <div class="column-9"><span>.column-9</span></div>
  <div class="column-15"><span>.column-15</span></div>

  <div class="column-10"><span>.column-10</span></div>
  <div class="column-14"><span>.column-14</span></div>

  <div class="column-11"><span>.column-11</span></div>
  <div class="column-13"><span>.column-13</span></div>

  <div class="column-12"><span>.column-12</span></div>
  <div class="column-12"><span>.column-12</span></div>
  </section>

  <article>
  <h2>Responsive Column Classes</h2>
  <p>The Viewport Grid can define the behavior of columns explicitly with the classes `phone-column-n` and `tablet-column-n`.</p>
  </article>
  <section class="grid-examples">
  <div class="column-16 tablet-8 phone-4">
    <span class="tablet-hide">column-16</span>
    <span class="tablet-only">tablet-8</span>
    <span class="phone-show">phone-4</span>
  </div>
  </section>
</div>
