---
layout: layout.hbs
---
<div class="container">
  <div class="column-8 pre-8 tablet-pre-2 phone-pre-0">
    <p class="project-description center">
      A Viewport based CSS grid system that brings Modern Design to Modern Browsers. Just like Müller-Brockman wanted.
    </p>
  </div>
  <div class="column-8 pre-3 tablet-pre-3 trailer-1">
    <img src="http://www.buamai.com/upload/images/31740/31740_p.jpg" alt="Josef Müller-Brockman">
  </div>
  <div class="column-12">
    <div class="content-area">
      {{#markdown}}
        {{> body}}
      {{/markdown}}
    </div>
  </div>
</div>
