---
layout: layout.hbs
---
<div class="grid-container">
  <div class="column-8 extra-large-leader-2 extra-large-pre-9 pre-8 medium-pre-2 small-pre-0">
    <p class="project-description center">
      A Viewport based CSS grid system that brings Modern Design to Modern Browsers. Just like Müller-Brockman wanted.
    </p>
  </div>
  <div class="column-8 extra-large-pre-1 pre-3 medium-pre-3 trailer-1">
    <img class='brockman' src="{{assets}}img/brockman.jpg" alt="Josef Müller-Brockman">
  </div>
  <div class="column-12 extra-large-pre-12">
    <div class="content-area">
      {{#markdown}}
        {{> body}}
      {{/markdown}}
    </div>
  </div>
</div>
