{{>header}}
  <div class="page-content {{ this.page.slug }}">
    <div class="color-block-test"></div>
    <div class="color-block-two"></div>
    <div class="color-block-three"></div>
    {{#markdown}}
      {{> body}}
    {{/markdown}}
  </div>
{{>footer}}