# Mac
.DS_Store

# SublimeText
*.sublime-project
*.sublime-workspace

# SASS
.sass-cache

# node
node_modules
.grunt

# Bower
bower_components/

# project specific
docs/build

#static site built files
site/build/
