.content-area {
  @extend %Source;
  color: $blue;
  border-left: 2px dashed $blue;
  border-right: 2px dashed $blue;
  padding: 0 0.5rem;
  font-size: 1.125rem;
  line-height: 1.66rem;

  p {
    margin-top: 0;
    margin-bottom: 1.66rem;
  }

  ul {
    padding: 0;
    list-style-type: none;
  }
}