nav {
  @extend %Source;
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  ul {
    width: 100%;
    display: inline-block;
    padding: 0;
    text-align: right;
  }

 li {
    display: inline-block;
    padding: 0.5em;

    &:first-child {
      float: left;
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }

  .subnav {
    @include box-sizing(border-box);
    @extend %clearfix;
    border: 2px solid $black;
    border-top: none;
  }

  .main-link {
    @include box-sizing(border-box);
    width: 100%;
    display: inline-block;
    padding: 0.25em;
    text-decoration: none;
  }

  .index-link {
    padding: 0.25em 1em;
    border: 2px solid $black;
    &:hover {
      border: 2px solid blue;
    }
  }

  .hamburger-container {
    @include box-sizing(border-box);
    border-right: 2px solid $black;
    text-align: center;
  }

  .hamburger-link {
    // width: 100%;
    display: inline-block;
    padding: 0.25em 0;
    text-decoration: none;
  }
}