---
title: "Viewport Grid Example Sample"
class: examples
layout: html.hbs
---

<div class="container grid-example leader-1">
  <div class="column-4 pre-5 post-6"><span>4 pre-5 post-6</span></div>
  <div class="column-4 pre-1"><span>4 pre-1</span></div>
</div>