// Viewport Grid Imports
@import '../../../lib/imports';
// @import 'tailcoat/tailcoat';

// Import Microsite Styles
@import 'base/config';
@import 'base/reset';
@import 'base/type';
@import 'base/buttons';

// Modules
@import 'modules/woodblocks';
@import 'modules/content-area';
@import 'modules/nav';

// Pages
@import 'pages/homepage';

body {
  background-color: rgba($cream, 0.8);
}

img {
  width: 100%;
  max-width: 100%;
  z-index: 1;
}


.grid-example [class*="column-"] {
  span {
    width: 100%;
    display: block;
    color: $white;
    background-color: rgba(blue, 0.6);
    font-family: $source;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-top: 1em;
    text-align: center;
  }
}

.nested-demo [class*="column-"] {
  [class*="column-"] {
    span {
      background-color: rgba(blue, 0.4);
    }
    [class*="column-"] {
      span {
        background-color: rgba(blue, 0.2);
      }
      [class*="column-"] {
        span {
          background-color: rgba(blue, 0.1);
        }
      }
    }
  }
}

.gridlines {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -10;
  div {
  height: 100vh;
  }
  span {
  @include box-sizing(border-box);
  height: 100vh;
  width: 100%;
  display: inline-block;
  background-color: rgba($gray, 0.05);
  border: 1px solid $lighter-gray;
  }
}

.tester {
  min-height: 1rem;
  width: 100%;
  display: block;
  background-color: red;
}