// Viewport Grid Imports
@import '../../../lib/imports';

// Import Microsite Styles
@import 'base/config';
@import 'base/reset';
@import 'base/type';
@import 'base/buttons';

// Modules
@import 'modules/woodblocks';
@import 'modules/content-area';

// Pages
@import 'pages/homepage';

.grid-example [class*="column-"] {
  span {
    width: 100%;
    display: block;
    background-color: $lightest-gray;
    border: 2px dashed $lighter-gray;
    font-family: $source;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-top: 1em;
    text-align: center;
  }
}
