// ┌───────────┐
// │ TYPEFACES │
// └───────────┘
$oswald: 'Oswald', sans-serif;
$source: 'Source Code Pro', 'Inconsolata', 'Consolas', 'Courier New', monospace;

// ┌───────────┐
// │ COLORS    │
// └───────────┘
$white:                 #FFFFFF !default;
$off-white:             #F9F9F9 !default;
$lightest-gray:         #EDEDED !default;
$lighter-gray:          #CCCCCC !default;
$light-gray:            #A6A6A6 !default;
$gray:                  #808080 !default;
$dark-gray:             #595959 !default;
$darker-gray:           #333333 !default;
$darkest-gray:          #1F1F1F !default;
$off-black:             #050505 !default;
$black:                 #000000 !default;