// ┌───────────┐
// │ TYPEFACES │
// └───────────┘
$oswald: 'Oswald', sans-serif;
$source: 'Source Code Pro', 'Inconsolata', 'Consolas', 'Courier New', monospace;

// ┌───────────┐
// │ COLORS    │
// └───────────┘
$white:                 #FFFFFF !default;
$off-white:             #F9F9F9 !default;
$lightest-gray:         #EDEDED !default;
$lighter-gray:          #CCCCCC !default;
$light-gray:            #A6A6A6 !default;
$gray:                  #808080 !default;
$dark-gray:             #595959 !default;
$darker-gray:           #333333 !default;
$darkest-gray:          #1F1F1F !default;
$off-black:             #050505 !default;
$black:                 #000000 !default;

$blue: blue !default;
$cream: #FDF6E3 !default;

// ┌─────────────┐
// │ B R E A K S │
// └─────────────┘
$desktop:       1280px !default;
$laptop-large:  1180px !default;
$laptop:        1080px !default;
$medium-wide:   1024px !default;
$medium-mid:    960px  !default;
$medium-tall:   768px  !default;
$small-large:   662px  !default;
$phone:         480px  !default;
$small-tall:    320px  !default;